.todo-item {
  padding: 10px;
  transition: background-color 0.5s ease;
  border: 1px solid #f2f2f2;
  width: 100%;
  max-width: 400px;
  cursor: pointer;
}

.todo-item:hover {
  background-color: #f2f2f2;
}


